.but {
  background-color: rgb(62, 0, 220);
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  transition: 250ms;
  box-shadow: 1px 1px 2px black;
  margin: 10px;
  max-width: 200px;

  &:hover {
    background-color: rgb(1, 1, 121);
    box-shadow: 1px 1px 4px black;
    transform: scale(1.2);
  }
}

.butCount {
  min-width: 40px;
  min-height: 40px;
  font-size: 30px;
  color: rgb(112, 76, 182);
  background-color: rgba(112, 76, 182, 0.1);
  border: none;
  border-radius: 3px;
  margin: 10px;
  &:hover {
    border: 1px solid rgb(112, 76, 182);
  }
}
.countInput {
  width: 50px;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

.buttonContaner {
  display: flex;
  align-items: center;
  justify-content: center;
  from {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes example {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

// animation-name: example;
// animation-duration: 4s;
