// @use 'sel' with ($black: #222, $border-radius: 0.1rem);
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 10px;

  .listHeader {
    display: flex;
    .idTitle {
      width: 20%;
      height: auto;
      border: 1px solid black;
      padding-left: 10px;
    }
    .usernameTitle {
      width: 40%;
      border: 1px solid black;
      padding-left: 10px;
    }
    .emailTitle {
      width: 40%;
      border: 1px solid black;
      padding-left: 10px;
    }
  }

  .listItem {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: left;

    .itemID {
      width: 20%;
      height: auto;
      border: 1px solid black;
      padding-left: 10px;
    }
    .itemUsername {
      width: 40%;
      border: 1px solid black;
      padding-left: 10px;
    }
    .itemEmail {
      width: 40%;
      border: 1px solid black;
      padding-left: 10px;
    }
  }
}
